@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 120px;
}

.one {
    display: flex;
    justify-content: space-between;
}

.one > div {
    display: flex;
    margin-bottom: 130px;
}

.hero-text {
    flex-direction: column;
    gap: 8px;
    max-width: 460px;
}

.image {
    width: 550px;
    max-height: 250px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.image > p {
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text > p {
    font-size: 18px;
    color: #E5E7EB;
}

.first-b {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 8px 32px;
    margin-top: 8px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.border {
    border: 4px #3882F6 solid;
    border-radius: 16px;
    height: 170px;
}

.border-text {
    display: flex;
    flex-direction: column;
    max-width: 170px;
}

.border-text > p {
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    color: #3a3f45;
    margin-bottom: 148px;
}
.quote-section {
    background-color: #E5E7EB;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 790px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    padding: 138px 0;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.signature {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.last {
    padding: 90px 0;
}

.action {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 8px 40px;
    margin-top: 8px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid white;
}

.header-action {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.last-text:nth-child(1) {
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    background-color: #1F2937;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    color: white;
    font-size: 18px;
}

